<div class="container">
  <div class="row">
    <div class="col">
      <a [routerLink]="['users']">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <div class="d-flex flex-row">
              <i class="pi pi-users"></i>
              <p class="card-text w-100 text-right">Użytkownicy</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a [routerLink]="['mojafirma']">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <div class="d-flex flex-row">
              <i class="pi pi-home"></i>
              <p class="card-text w-100 text-right">Moje Firmy</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a [routerLink]="['parametry-oferty']">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <div class="d-flex flex-row">
              <i class="pi pi-ticket"></i>
              <p class="card-text w-100 text-right">Parametry Oferty</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
