.pm-head th {
    text-align: center;
    font-size: 14px;
    padding: 0 0.5rem;
    height: 35px;
}

.pm-head th div{
   display: inline-flex;
}

.pm-body td{
    font-size: 14px;
    padding: 0 0.5rem;
    height: 35px;
}
