<div class="sb-dialog-content">
  <form [formGroup]="formClientHelper" class="sb-form">

    <div class="row">
      <div class="col-g-12 col-md-12 col-lg-12">
        <label class="sb-small-label" for="cost">Koszt</label>
        <input
          pInputText
          type="number"
          inputmode="numeric"
          min="0"
          step=".1"
          inputId="cost"
          [formControl]="formClientHelper.get('helper_cost')"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-g-12 col-md-12 col-lg-12">
        <label class="sb-small-label" for="set">Ustawienie</label>
        <input
          pInputText
          type="number"
          inputmode="numeric"
          min="0"
          step="1"
          inputId="set"
          [formControl]="formClientHelper.get('helper_setUpCost')"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-g-12 col-md-12 col-lg-12">
        <label class="sb-small-label" for="costChangeColor">Zm. koloru</label>
        <input
          pInputText
          type="number"
          inputmode="numeric"
          min="0"
          step="1"
          inputId="costChangeColor"
          [formControl]="formClientHelper.get('helper_costChangeColor')"
        />
      </div>
    </div>
  </form>
</div>

<div class="sb-dialog-footer">
  <div class="sb-btn-close">
    <button
      pButton
      pRipple
      type="button"
      (click)="exit(0)"
      pTooltip="Anulowanie aktualizowania"
      label="Anuluj"
      icon="pi pi-times"
      class="p-button-sm sb-button o-gray"
    ></button>
  </div>
  <div class="sb-btn-save">
    <button
      [disabled]="loading"
      pButton
      pRipple
      type="button"
      (click)="updateHelpers()"
      pTooltip="Aktualizuj"
      label="Zapisz"
      icon="pi pi-check"
      class="p-button-sm sb-button green"
    ></button>
    <p-progressSpinner
      *ngIf="loading"
      [style]="{ width: '25px', height: '25px' }"
      styleClass="custom-spinner"
      strokeWidth="8"
      fill="#EEEEEE"
      animationDuration=".5s"
    ></p-progressSpinner>
  </div>
</div>
