<div class="sb-dialog-content">
  <form [formGroup]="formPassword" class="sb-form">
    <div class="row">
      <div class="col-g-12 col-md-12 col-lg-12">
        <label for="password" class="sb-small-label">Hasło</label>
        <input
          pPassword
          class="fullwidth"
          type="password"
          [formControl]="formPassword.get('password')"
          id="password"
          required
          autocomplete="off"
        />
        <p
          class="invalid-feedback"
          *ngIf="
            formPassword.get('password').hasError('required') &&
            formPassword.get('password').touched
          "
        >
          musi być wypełnione
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-g-12 col-md-12 col-lg-12">
        <label for="confirmPassword" class="sb-small-label"
          >Powtórz hasło</label
        >
        <input
          pPassword
          class="fullwidth"
          type="password"
          [formControl]="formPassword.get('confirmPassword')"
          id="confirmPassword"
          required
          autocomplete="off"
        />
        <p
          class="invalid-feedback"
          *ngIf="
            formPassword.get('confirmPassword').hasError('required') &&
            formPassword.get('confirmPassword').touched
          "
        >
          musi być wypełnione
        </p>
        <p
          class="invalid-feedback"
          *ngIf="
            formPassword.get('confirmPassword').hasError('nomatch') &&
            formPassword.get('confirmPassword').touched
          "
        >
          hasła muszą być identyczne
        </p>
      </div>
    </div>
  </form>
</div>

<div class="sb-dialog-footer">
  <div class="sb-btn-close">
    <button
      pButton
      pRipple
      type="button"
      (click)="exit(0)"
      pTooltip="Anulowanie operacji"
      label="Anuluj"
      icon="pi pi-times"
      class="p-button-sm sb-button o-gray"
    ></button>
  </div>
  <div class="sb-btn-save">
    <button
      [disabled]="formPassword.invalid || loading"
      pButton
      pRipple
      type="button"
      (click)="onChangePass()"
      pTooltip="Aktualizacja hasła"
      label="Zapisz"
      icon="pi pi-check"
      class="p-button-sm sb-button green"
    ></button>

    <p-progressSpinner
      *ngIf="loading"
      [style]="{ width: '25px', height: '25px' }"
      styleClass="custom-spinner"
      strokeWidth="8"
      fill="#EEEEEE"
      animationDuration=".5s"
    ></p-progressSpinner>
  </div>
</div>
